# screen data file
fbpath	/dev/fb0	#framebuffer device path
width	1440	#resolution of framebuffer
height	900	# this can be found with the "fbset" command
linelength	1472	#the actual line length typically is longer than width
tmpdir	/tmp		#temporary directory
#FOV	1.5708 1.41372	# x and y field of view in radian (90, 81) degrees
FOV	0.39   0.36	# x and y field of view in radian (22, 20) degrees
subscreen 100 200  550 700 #pixel ranges, top-left and bottom right, (row column)
camera_pos	0.0 0.0 0.0	#camera position in global space
camera_orient	0.0 1.0 1.0 1.0	#angle, axis(3) notation, from X-axis.

# celestial sphere data
starfile	stars.dat
Nstars	300

interactive	# curser keys for camera position and orientation (comment to render scene)
timestep 0.01	# seconds to wait for each time step check
#timestep 1.0	# seconds to wait for each time step check
impulseControl	# key strokes increment velocity and angle rate
dtheta	0.01	# angular increment for camera rotation
dspace	0.05	# translational increment for motion of camera

#############
contact 2	# activate contact detection (0=off, 1=elastic-frictionless, 2=elastic-frictional)

NobjectBuff 2	# number of objects to allocate for
LoadObject objFiles/sphere5.obj
o 1 mass  0.00001
#o 1 scale 1.5
o 1 offset 60.0 -10.0 0.0 # offset
o 1 spin 0.01   1.0 0.0 0.0 #slow spin
o 1 velocity 0.0 2.5 0.0
o 1 color 0   0 0 255 #blue for second sphere
o 1 stiffness 4000.0

LoadObject objFiles/sphere5.obj
o 2 mass  0.00001
o 2 offset 60.0 10.0 0.0 # offset
o 2 spin 0.01   1.0 0.0 0.0 #slow spin
o 2 velocity 0.0 -2.5 0.0
o 2 stiffness 4000.0

dumpFile	dmp	# basename to dump render view to PPM files
#timeout		150	# number of steps to run interactive renderer

run	# begin local animation (i.e. allow objects their motion)
#record  # record the images to make movie

